@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.joinForm{
  width: 20%;
  padding: 20px;
  text-align: center;
  margin: 15% auto 0 auto;
  display: grid;
  grid-gap: 20px;
  background-color: rgb(41, 41, 41);
  border-radius: 25px;
}
.joinForm input{
  width: 100%;
  color: white;
  border: none;
  border-radius: 8px;
  height: 4vh;
  background-color: rgb(100, 100, 100);
}
.joinForm label{
  font-weight: 900;
  color: rgb(100, 100, 100);
  text-align: left;
  font-size: 12px;
  margin-bottom: -2vh;
}
.joinForm button{
  border: none;
  border-radius: 8px;
  height: 6vh;
  color: white;
  background-color: #3eb489;
  font-size: 2vw;
  font-weight: 900;
  line-height: 100%;
}
